<!-- views/realTimeProducts.handlebars -->
<h1>Productos en tiempo real</h1>

<h1>Lista de Productos</h1>
<ul class="productListRealTime">
  {{#each products}}
    <li class="productTitle">
      {{title}}
      <button
        class="deleteProductBtn"
        type="button"
        onclick="eliminarProducto({{_id}})"
      >Eliminar</button>
    </li>
  {{/each}}
</ul>

<form id="newProductForm">
  <label for="title">Nombre del producto:</label>
  <input type="text" id="title" name="title" required />
  <button type="button" onclick="agregarProducto()">Agregar Producto</button>
</form>