<nav>
  <ul id="navList">
    <li class="navListItem">
      <a href="/">HOME</a>
    </li>
    <li class="navListItem">
      <a href="/realtimeProducts">Products in real time</a>
    </li>
  </ul>
</nav>